<div class="container mt-5 details_page">
    <div *ngIf="!job" class="alert alert-warning text-center">No job found</div>
    <div class="job card mb-3" *ngIf="job">
        <div class="card-header d-flex align-items-center">
            <div class="image-container">
                <img src="{{job.img}}" class="card-img" alt="{{job.name}}">
                <h4 class="card-subtitle mb-2 text-muted">{{job.company}}</h4>
            </div>
            <div class="text-container">
                <h3 class="card-title">{{job.name}}</h3>
            </div>
        </div>
        <div class="card-body">
            <p class="card-text"><strong>Description: </strong>{{job.description}}</p>
            <p class="card-text"><strong>Salary: </strong>{{job.salary}}€</p>
            <div class="favorite-button-container">
                <app-favorite-button [jobs]="job" (toggle)="onToggleFavorite($event)">
                    {{ job.favorited ? 'Dislike' : 'Like' }}
                    <span class="counter"> ( {{ job.favoritesCount }} )</span>
                </app-favorite-button>
            </div>
            <app-carousel></app-carousel>
            <div id="comments_list">
                <h3 align="center"><strong>Comments Section</strong></h3>
                <hr class="comment-separator">
                <app-list-comment [slug]="slug ?? ''" (editComment)="onEditComment($event)">
                </app-list-comment>
                <app-form-comment *ngIf="selectedComment" [slug]="slug ?? ''" [comment]="selectedComment"
                    (submitComment)="onSubmitComment()">
                </app-form-comment>
            </div>
        </div>
    </div>
</div>
<hr class="my-4">