/* Clase personalizada para el borde azul claro */
.border-light-blue {
    border: 2px solid #004085;
    /* Azul claro */
}

/* Clase personalizada para el fondo azul claro */
.bg-light-blue {
    background-color: #004085;
    /* Azul claro */
}

/* Estilo adicional para mejorar la legibilidad del texto */
.card-title {
    font-size: 1.75rem;
    font-weight: bold;
}

.job-bio {
    font-size: 1rem;
    line-height: 1.5;
}

.job-bio .company,
.job-bio .description,
.job-bio .salary {
    margin-bottom: 10px;
}

.img-fluid {
    max-height: 200px;
    object-fit: cover;
}

.text-white {
    color: #ffffff;
}

hr.my-4 {
    border-top: 2px solid #004085;
    /* Color y grosor de la línea horizontal */
}

.carousel-container {
    display: flex;
    overflow-x: scroll;
    width: 100%;
    height: 100%;
}

.carousel-item {
    flex: 0 0 auto;
    width: 100%;
    height: 100%;
    position: relative;
}

.carousel-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0.25rem;
}