<!-- <app-carousel></app-carousel> -->



<div class="details_page">

    <div *ngIf="!job">No job</div>
    <div class="job" *ngIf="job">
        <div class="job-info">
            <div class="title">
                <h3>{{job.name}}</h3>
            </div>

            <div class="job-bio">
                <div class="description"><strong>Description: </strong>{{job.description}}.</div>
                <!-- <div class="category"><strong>Author: </strong><a
                        [routerLink]="['/profile', job.author.username]">{{job.author.username}}</a></div>
                <div class="price"><strong>Price: </strong>{{job.price}}€</div> -->

                <span *ngIf="canModify === true">
                    <!-- EDIT JOB -->
                    <a class="btn btn-sm btn-outline-primary" [routerLink]="['/editor', job.slug]">
                        <i class="ion-edit"></i> Edit Job
                    </a>

                    <!-- DELETE JOB -->
                    <!-- <button class="btn btn-sm btn-outline-danger" (click)="deleteJob()">
                        <i class="ion-trash-a"></i> Delete Job
                    </button> -->
                </span>

                <!-- <span *ngIf="canModify === false">
                    <app-favorite-button [job]="job" (toggle)="onToggleFavorite($event)">
                        {{ job.favorited ? 'Unfavorite' : 'Favorite' }} Article <span class="counter">({{
                            job.favoritesCount }})</span></app-favorite-button>

                    <app-follow-button (toggle)="onToggleFollow($event)" [profile]="job.author"></app-follow-button>
                </span> -->
            </div>
        </div>
    </div> <!-- fin del job  -->
    <hr>
    <h3 class=" job-info title">Comment Section: </h3>
    <br>
    <div class="comments-section">
        <!-- <app-comments *ngFor="let comment of comments" [comment]="comment" (deleteComment)="delete_comment(comment)">
        </app-comments> -->

        <div class="comment" *ngIf="NoComments">
            <p>Be the first to comment on this article.</p>
        </div>
        <!-- <div class="create-comment" *ngIf="logged === true">
            <form (ngSubmit)="create_comment()">
                <div class="comment-new">
                    <div class="comment-avatar-container">
                        <img class="comment-avatar" src={{user_image}} />
                    </div>
                    <fieldset [disabled]="isSubmitting">
                        <textarea class="comment-textarea" name="enter-comment" placeholder="Write a comment..."
                            [formControl]="commentControl"></textarea>
                        <div class="comment-actions">
                            <button class="post" type="submit">COMMENT</button>
                            <button class="cancel" type="button" (click)="empty_comment()">CANCEL</button>
                        </div>
                    </fieldset>
                </div>
            </form>
        </div> -->
        <!-- <div *ngIf="logged === false">
            <a [routerLink]="['/login']">Sign in</a> or <a [routerLink]="['/register']">sign up</a> to add comments on
            this
            article.
        </div> -->
    </div>
</div>