<app-search (searchEvent)="get_list_filtered($event)"></app-search>
<app-filters (eventofiltros)="get_list_filtered($event)" [listCategories]="listCategories"></app-filters>
<div class="container mt-5">
    <div class="row">
        <div class="jobs">
            <app-card-job *ngFor="let job of jobs" [jobs]="job"></app-card-job>
        </div>
    </div>
</div>

<div class="pagination-container" *ngIf="totalJobs > limit">
    <div class="pagination">
        <app-pagination [numItems]="totalJobs" [numItemsXPage]="limit"
            (paginationEvent)="testPagination($event)"></app-pagination>
    </div>
</div>

<!-- <div class="pagination-container">
    <nav *ngIf="jobs.length != 0 && totalPages.length != 1">
        <ul class="pagination justify-content-center">
            <li class="page-item" [ngClass]="{'active': pageNumber === currentPage}"
                *ngFor="let pageNumber of totalPages" (click)="setPageTo(pageNumber)">
                <span class="page-link">{{ pageNumber }}</span>
            </li>
        </ul>
    </nav>
</div> -->