body {
     background-color: #ffffff;
     /* Fondo blanco */
     font-family: 'Roboto', sans-serif;
     /* Fuente agradable */
}

h1.display-4 {
     font-weight: bold;
     /* Negrita para el título */
     color: #004085;
     /* Color del título */
     text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
     /* Sombra para el título con más profundidad */
}

p.lead {
     font-weight: bold;
     /* Negrita para el texto principal */
     color: #212529;
     /* Color del texto principal */
}

p {
     font-size: 1.1rem;
     /* Tamaño de fuente para párrafos */
     color: #212529;
     /* Color del texto */
}

hr.my-4 {
     border-top: 2px solid #004085;
     /* Color y grosor de la línea horizontal */
}

.btn-primary {
     background-color: #004085;
     /* Color de fondo del botón */
     border-color: #004085;
     /* Color del borde del botón */
     font-weight: bold;
     /* Negrita para el texto del botón */
     font-size: 1.2rem;
     /* Tamaño de fuente del botón */
     padding: 0.75rem 1.5rem;
     /* Padding del botón */
     border-radius: 50px;
     /* Bordes redondeados del botón */
     transition: background-color 0.3s ease, transform 0.3s ease;
     /* Transiciones */
}

.btn-primary:hover {
     background-color: #002752;
     /* Color de fondo del botón al pasar el ratón */
     transform: scale(1.05);
     /* Efecto de escala al pasar el ratón */
}