<div class="container mt-5">
     <div class="row">
          <div class="col-md-12 text-center">
               <h1 class="display-4">Welcome to DreamJob!</h1>
               <p class="lead">Your one-stop destination for finding your dream job. Explore thousands of job listings
                    and find the perfect match for your skills and aspirations.</p>
               <hr class="my-4">
               <p>Start your journey with us today and take the first step towards a fulfilling career.</p>
          </div>
     </div>
     <app-carousel></app-carousel>
     <div class="row mt-5">
          <div class="col-md-12">
               <app-list-categories></app-list-categories>
          </div>
     </div>
     <hr class="my-4">
</div>