body {
     background-color: #ffffff;
     font-family: 'Roboto', sans-serif;
}

h1.display-4 {
     font-weight: bold;
     color: #004085;
     text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

p.lead {
     font-weight: bold;
     color: #212529;
}

p {
     font-size: 1.1rem;
     color: #212529;
}

hr.my-4 {
     border-top: 2px solid #004085;
}

.btn-primary {
     background-color: #004085;
     border-color: #004085;
     font-weight: bold;
     font-size: 1.2rem;
     padding: 0.75rem 1.5rem;
     border-radius: 50px;
     transition: background-color 0.3s ease, transform 0.3s ease;
}

.btn-primary:hover {
     background-color: #002752;
     transform: scale(1.05);
}

.container {
     max-width: 1200px;
     margin: 0 auto;
     padding: 20px;
}

h1.display-4,
h2.display-5 {
     font-family: 'Arial', sans-serif;
     font-weight: bold;
     color: #004085;
     margin-bottom: 20px;
}

p.lead {
     font-size: 1.25rem;
     color: #333;
     margin-bottom: 20px;
}

hr.my-4 {
     border: 0;
     height: 1px;
     background: #7b8eef;
     margin: 20px 0;
}

app-carousel {
     display: block;
     width: 100%;
     max-width: 100%;
     margin: 20px 0;
     padding: 0;
}

.ngb-carousel {
     width: 100%;
     max-width: 100%;
     border-radius: 10px;
     overflow: hidden;
     box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.img_carousel {
     width: 100%;
     height: auto;
     border-radius: 10px;
     object-fit: cover;
     transition: transform 0.3s ease-in-out;
}

.img_carousel:hover {
     transform: scale(1.05);
}

.contenedor {
     display: flex;
     justify-content: center;
     align-items: center;
     height: 60vh;
     text-align: center;
}

.carousel-caption {
     background-color: rgba(0, 0, 0, 0.5);
     border-radius: 5px;
     padding: 10px;
     color: white;
     transition: opacity 0.3s ease-in-out;
}

.carousel-caption:hover {
     opacity: 0.8;
}