<!-- <p>shop is alive!!!!!</p> -->



<div class="container mt-5">
     <div class="row">
          <div class="col-md-12 text-center">
               <h2 class="display-4">Explore our offers!</h2>
               <p class="lead">Discover exclusive job offers tailored just for you. Browse through our curated listings
                    and find
                    the perfect opportunity to advance your career.</p>
               <hr class="my-4">
               <p>Take the next step in your professional journey with our premium job offers. Start exploring now!</p>
          </div>
     </div>
     <div class="row mt-5">
          <div class="col-md-12">
               <app-list-jobs></app-list-jobs>
          </div>
     </div>
     <hr class="my-4">
</div>