<div *ngFor="let comment of comments">
     <br><br>
     <div class="comment-header">
          <img src="{{ comment.author.image }}" class="rounded-circle" width="80" height="80"
               alt="{{ comment.author.username }}">
          <h3>{{ comment.author.username }}</h3>
     </div>
     <hr>
     <div class="comment-content">
          <p>
               <strong>{{ comment.body }}</strong>
          </p>
          <div class="comment-footer">
               <p>Fecha: {{ comment.createdAt | date: 'medium' }}</p>
               <button class="btn btn-danger mt-3" *ngIf="canModify(comment)"
                    (click)="deleteClicked(comment)">Delete</button>
          </div>
     </div>
     <hr class="comment-separator">
</div>
<!-- <div *ngIf="isAddingComment">
     <app-form-comment [slug]="slug" (submitComment)="onCommentSubmitted()"></app-form-comment>
</div>

<div *ngIf="!hasWrittenComment() && !isAddingComment" class="add-comment-container">
     <button class="btn btn-info mt-3" (click)="showCommentForm()">Post your comment</button>
</div> -->
<br>

<div *ngIf="isAuthenticated">
     <div class="add-your-comment">Add your comments here:</div>
     <app-form-comment [slug]="slug" (submitComment)="onCommentSubmitted()"></app-form-comment>
</div>
<div *ngIf="!isAuthenticated" class="alert alert-info mt-3">
     <h4 style="text-align:center">Please log in to post a comment</h4>
</div>