<!-- <div class="container-fluid" class="job" *ngIf="jobs">
    <div class="prueba2">
        <div class="col-md-3 col-10 mt-5 tarjeta">
            <div class="card mx-auto">
                <img class="mx-auto" style="margin-top: 10px" src="{{jobs.img}}" width="200px" height="200px" />
                <div class="card-body text-center mx-auto">
                    <div class='cvp'>
                        <h5 class="card-title font-weight-bold">{{jobs.name}}</h5>
                        <p class="card-text">{{jobs.salary}}€</p>
                        <a class="btn details px-auto" [routerLink]="['/details/', jobs.slug]">View
                            Details</a><br />
                        <a href="#" class="btn cart px-auto">ADD TO CART</a>
                        <app-favorite-button [jobs]="jobs" (toggle)="onToggleFavorite($event)">
                            {{ jobs.favorited ? 'Unfavorite' : 'Favorite' }} Article <span class="counter">({{
                                jobs.favoritesCount }})</span>
                        </app-favorite-button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
-->


<div class="container-fluid job" *ngIf="jobs">
    <div class="card custom-card shadow-lg border-primary">
        <a [routerLink]="['/details/', jobs.slug]" class="card-img-tiles" data-abc="true">
            <div class="inner">
                <div class="main-img">
                    <img src="{{jobs.img}}" alt="Category" class="img-fluid rounded-top">
                </div>
            </div>
        </a>
        <div class="card-body text-center">
            <h4 class="card-title">{{jobs.name}}</h4>
            <a class="btn btn-outline-primary btn-sm" [routerLink]="['/details/', jobs.slug]" data-abc="true">View
                Details</a>
        </div>
    </div>
</div>