<div class="container-fluid job" *ngIf="jobs">
    <div class="card custom-card shadow-lg border-primary">
        <a [routerLink]="['/details/', jobs.slug]" class="card-img-tiles" data-abc="true">
            <div class="inner">
                <div class="main-img">
                    <img src="{{jobs.img}}" class="img-fluid rounded-top">
                </div>
            </div>
        </a>

        <div class="card-body text-center">
            <h4 class="card-title">{{jobs.name}}</h4>
            <div class="favorite-btn-container">
                <app-favorite-button [jobs]="jobs" (toggle)="onToggleFavorite($event)">
                    {{ jobs.favorited ? 'Dislike' : 'Like' }}
                    <span class="counter"> ( {{ jobs.favoritesCount }} )</span>
                </app-favorite-button>
            </div>
            <a class="btn btn-outline-primary btn-sm" [routerLink]="['/details/', jobs.slug]" data-abc="true">View
                Details</a>
        </div>
    </div>
</div>