/* frontend/src/app/shared/layout/header/header.component.css */
.custom-logo {
     font-size: 3rem;
     /* Tamaño de fuente más grande */
     font-weight: bold;
     color: #00aaff;
     /* Color azul más claro */
     text-decoration: none;
     font-family: 'Arial', sans-serif;
     /* Cambia la fuente a Arial */
     text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
     /* Añade sombra al texto */
     transition: color 0.3s ease, transform 0.3s ease;
     /* Transición suave */
}

.custom-logo:hover {
     color: #0088cc;
     /* Color azul más oscuro al pasar el ratón */
     transform: scale(1.1);
     /* Aumenta ligeramente el tamaño al pasar el ratón */
}

.nav-links {
     list-style: none;
     display: flex;
     gap: 20px;
}

.nav-links li {
     display: inline;
}

.nav-links a {
     color: white;
     text-decoration: none;
     font-size: 1.2rem;
     /* Ajusta el tamaño de la fuente */
     transition: color 0.3s;
}

.nav-links a:hover {
     color: #f39c12;
}

/* Fondo azul claro */
.bg-light-blue {
     background-color: #004085;
     /* Azul claro */
}

/* Estilo bonito y redondeado para las letras */
.custom-logo,
.custom-nav-link {
     font-family: 'Arial', sans-serif;
     font-weight: bold;
     border-radius: 5px;
     padding: 5px 10px;
     transition: background-color 0.3s ease;
}

/* Estilo distintivo para el encabezado */
.custom-header {
     box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Efecto hover para los enlaces de navegación */
.custom-nav-link:hover {
     background-color: rgba(255, 255, 255, 0.2);
}