<div class="container-fluid bg-dark text-white py-3">
     <div class="row align-items-center">
          <div class="col-md-4">
               <div class="logo">
                    <a routerLink="home" class="text-warning">DREAMJOB</a>
               </div>
          </div>
          <div class="col-md-8">
               <nav>
                    <ul class="nav justify-content-end nav-links">
                         <li class="nav-item">
                              <a routerLink="home" class="nav-link text-white">Home</a>
                         </li>
                         <li class="nav-item">
                              <a routerLink="shop" class="nav-link text-white">Shop</a>
                         </li>
                         <li class="nav-item">
                              <a routerLink="login" class="nav-link text-white">Log in/ Sign In</a>
                         </li>
                    </ul>
               </nav>
          </div>
     </div>
</div>