/* frontend/src/app/shared/layout/header/header.component.css */
.custom-logo {
     font-size: 3rem;
     /* Tamaño de fuente más grande */
     font-weight: bold;
     color: #00aaff;
     /* Color azul más claro */
     text-decoration: none;
     font-family: 'Arial', sans-serif;
     /* Cambia la fuente a Arial */
     text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
     /* Añade sombra al texto */
     transition: color 0.3s ease, transform 0.3s ease;
     /* Transición suave */
}

.custom-logo:hover {
     color: #0088cc;
     /* Color azul más oscuro al pasar el ratón */
     transform: scale(1.1);
     /* Aumenta ligeramente el tamaño al pasar el ratón */
}

.nav-links {
     list-style: none;
     display: flex;
     gap: 20px;
}

.nav-links li {
     display: inline;
}

.nav-links a {
     color: white;
     text-decoration: none;
     font-size: 1.2rem;
     /* Ajusta el tamaño de la fuente */
     transition: color 0.3s;
}

.nav-links a:hover {
     color: #f39c12;
}