<div class="container-fluid bg-dark text-white py-3">
     <div class="row align-items-center">
          <div class="col-md-4 text-center">
               <div class="logo">
                    <a routerLink="home" class="text-primary display-4 custom-logo">DreamJob</a>
               </div>
          </div>
          <div class="col-md-8">
               <nav class="d-flex justify-content-center">
                    <ul class="nav nav-links">
                         <li class="nav-item">
                              <a routerLink="home" class="nav-link text-white">Home</a>
                         </li>
                         <li class="nav-item">
                              <a routerLink="shop" class="nav-link text-white">Shop</a>
                         </li>
                         <li class="nav-item">
                              <a routerLink="login" class="nav-link text-white">Log in/ Sign In</a>
                         </li>
                    </ul>
               </nav>
          </div>
     </div>
</div>