<div class="footer bg-light-blue text-light py-5">
     <div class="container">
          <div class="row">
               <div class="col-md-2 mb-4">
                    <h5>Company</h5>
                    <ul class="list-unstyled">
                         <li><a href="#" class="text-light">About</a></li>
                         <li><a href="#" class="text-light">Mission</a></li>
                         <li><a href="#" class="text-light">Services</a></li>
                         <li><a href="#" class="text-light">Social</a></li>
                         <li><a href="#" class="text-light">Get in touch</a></li>
                    </ul>
               </div>
               <div class="col-md-2 mb-4">
                    <h5>Products</h5>
                    <ul class="list-unstyled">
                         <li><a href="#" class="text-light">About</a></li>
                         <li><a href="#" class="text-light">Mission</a></li>
                         <li><a href="#" class="text-light">Services</a></li>
                         <li><a href="#" class="text-light">Social</a></li>
                         <li><a href="#" class="text-light">Get in touch</a></li>
                    </ul>
               </div>
               <div class="col-md-2 mb-4">
                    <h5>Accounts</h5>
                    <ul class="list-unstyled">
                         <li><a href="#" class="text-light">About</a></li>
                         <li><a href="#" class="text-light">Mission</a></li>
                         <li><a href="#" class="text-light">Services</a></li>
                         <li><a href="#" class="text-light">Social</a></li>
                    </ul>
               </div>
               <div class="col-md-2 mb-4">
                    <h5>Resources</h5>
                    <ul class="list-unstyled">
                         <li><a href="#" class="text-light">Webmail</a></li>
                         <li><a href="#" class="text-light">Redeem code</a></li>
                         <li><a href="#" class="text-light">WHOIS lookup</a></li>
                         <li><a href="#" class="text-light">Site map</a></li>
                    </ul>
               </div>
               <div class="col-md-2 mb-4">
                    <h5>Support</h5>
                    <ul class="list-unstyled">
                         <li><a href="#" class="text-light">Contact us</a></li>
                         <li><a href="#" class="text-light">Web chat</a></li>
                         <li><a href="#" class="text-light">Open ticket</a></li>
                    </ul>
               </div>
               <div class="col-md-2 mb-4">
                    <h5>Social</h5>
                    <ul class="list-unstyled">
                         <li>
                              <h6>Álvaro Garrido</h6>
                              <a href="https://github.com/AlvaroGarCam" class="text-light">
                                   <i class="bi bi-github"></i> GitHub
                              </a>
                         </li>
                    </ul>
               </div>
          </div>
     </div>
</div>