ngb-carousel {
    max-width: 700px;
    margin: 50px auto;
}

.ngb-carousel {
    border-radius: 10px;
    /* Suaviza las esquinas del carrusel */
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

ngb-carousel img {
    width: 50%;
    height: 60%;
    outline: none;
    border-radius: 10px;
    /* Suaviza las esquinas de las imágenes */
}

ngb-carousel {
    width: inherit;
    height: inherit;
}

.carousel-inner {
    overflow: visible;
}

.carousel-item {
    display: flex !important;
    opacity: 0;
    /* visibility: hidden; */
    transition: opacity 1.2s ease-in-out, visibility 1.2s;
    z-index: -1;
}

.carousel-item.active {
    opacity: 1;
    visibility: visible;
    z-index: 10;
}

.carousel-control-prev {
    z-index: 20;
    background-color: black;
}

.carousel-control-next {
    z-index: 20;
}

.carousel-indicators {
    z-index: 20;
}

/* .img_carousel{
    display: flex !important;
    opacity: 0;
    visibility: hidden;
    transition: opacity 1.2s ease-in-out, visibility 1.2s;
    z-index: -1;

} */
.contenedor {
    text-align: center;
    /* Centrar horizontalmente */
    height: 60vh;
    /* Ajusta la altura según sea necesario */
    line-height: 50vh;
    /* Centrar verticalmente */
}

.contenedor img {
    vertical-align: middle;
    /* Centrar verticalmente */
}